.banner-container {
    background: url('../images/stonks.png');
    width: 100%;
    color: #fff;
    background-repeat: no-repeat;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    width: 50%;
    left: 10%;
}

.greeting {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.cash-balance {
    font-size: 48px;
    font-weight: bold;
    padding: 8px 0 24px 0;
}

.edit-balance {
    width: 181px;
    margin-right: 8px;
}

.edit-balance:hover {
    background: #fff;
}
